.order-summary-header {
    font-size: 28px;
    line-height: 3.6rem;
    vertical-align: middle;
    color: #333;
}

.order-summary-header-n1 {
    color: #333;
}

.order-summary-text {
    color: #333;
}